* {
  box-sizing: border-box;
  line-height: 1;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.header {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.header-logo {
  text-decoration: none;
  color: #461a42;
  font-size: 30px;
  font-weight: 600;
}
.header-logo:hover {
  color: #461a42;
}
.header-nav > li > a {
  color: #333;
  font-weight: 600;
  transition: all 0.1s linear;
  border-radius: 4px;
}
.header-nav > li > a:hover {
  color: #333;
  border-bottom: 3px solid #461a42;
}
.header-account > .btn:hover {
  background-color: #eee;
}

@media screen and (max-width: 1000px) {
  .header nav {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header-account {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.banner {
  padding: 20px 0;
}
.banner-left {
  padding-top: 30px;
}
.banner-heading {
  max-width: 400px;
  font-size: 50px;
  font-weight: 600;
  color: #461a42;
  margin-bottom: 20px;
}
.banner-desc {
  font-size: 17px;
  color: #9b9999;
}
.banner-btn-one {
  background: #461a42;
  font-weight: 600;
  color: white;
}
.banner-btn-one:hover {
  color: white;
}
.banner-btn-two {
  background: #ccc;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .banner-heading {
    max-width: 100%;
    text-align: center;
  }
  .banner-btn {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .banner-heading {
    font-size: 40px;
  }
}
.getStarted img {
  width: 320px;
  height: 320px;
}
.getStarted-content {
  text-align: center;
  margin-top: 40px;
}
.getStarted-heading {
  font-size: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .getStarted-img {
    display: none !important;
  }
}
.quizDetail-top {
  padding: 30px 20px;
  background: #eee;
}

.footer {
  background: #461a42;
  padding: 30px 0;
}
.footer-left {
  color: white;
}
.footer-logo {
  color: white;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
}
.footer-logo:hover {
  color: white;
}
.footer-p {
  color: #eee;
}
.footer-center-item a {
  color: white;
  padding: 5px 0;
  display: block;
}
.footer-right {
  color: white;
}
.footer-link-img {
  width: 200px;
  display: block;
  margin: 10px 0;
}

@media screen and (max-width: 500px) {
  .footer {
    text-align: center;
  }
  .footer-link-img {
    margin: 20px auto;
  }
}
.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px;
}

.contact-info .heading,
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page .form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

#contact-page #message {
  height: 160px;
  resize: none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}

#contact-page .form-control:focus,
#contact-page .form-control:hover {
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  border-color: #FDB45E;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks {
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child {
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i {
  background: none;
}

.contact-info .social-networks ul li a:hover {
  color: #FE980F;
}

/*# sourceMappingURL=app.css.map */
