@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700,900");
* {
    box-sizing: border-box;
    line-height: 1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

.header {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.header-logo {
    text-decoration: none;
    color: #461a42;
    font-size: 30px;
    font-weight: 600;
}

.header-logo:hover {
    color: #461a42;
}

.header-nav>li>a {
    color: #333;
    font-weight: 600;
    transition: all 0.1s linear;
    border-radius: 4px;
}

.header-nav>li>a:hover {
    color: #333;
    border-bottom: 3px solid #461a42;
}

.header-account>.btn:hover {
    background-color: #eee;
}

@media screen and (max-width: 1000px) {
    .header nav {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header-account {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.banner {
    padding: 20px 0;
}

.banner-left {
    padding-top: 30px;
}

.banner-heading {
    max-width: 400px;
    font-size: 50px;
    font-weight: 600;
    color: #461a42;
    margin-bottom: 20px;
}

.banner-desc {
    font-size: 17px;
    color: #9b9999;
}

.banner-btn-one {
    background: #461a42;
    font-weight: 600;
    color: white;
}

.banner-btn-one:hover {
    color: white;
}

.banner-btn-two {
    background: #ccc;
    font-weight: 600;
}

@media screen and (max-width: 850px) {
    .banner-heading {
        max-width: 100%;
        text-align: center;
    }
    .banner-btn {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    .banner-heading {
        font-size: 40px;
    }
}

.getStarted img {
    width: 320px;
    height: 320px;
}

.getStarted-content {
    text-align: center;
    margin-top: 40px;
}

.getStarted-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .getStarted-img {
        display: none !important;
    }
}

.quizDetail-top {
    padding: 30px 20px;
    background: #eee;
}

.footer {
    background: #461a42;
    padding: 30px 0;
}

.footer-left {
    color: white;
}

.footer-logo {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.footer-logo:hover {
    color: white;
}

.footer-p {
    color: #eee;
}

.footer-center-item a {
    color: white;
    padding: 5px 0;
    display: block;
}

.footer-right {
    color: white;
}

.footer-link-img {
    width: 200px;
    display: block;
    margin: 10px 0;
}

@media screen and (max-width: 500px) {
    .footer {
        text-align: center;
    }
    .footer-link-img {
        margin: 20px auto;
    }
}

.contact-map {
    width: 100%;
    height: 385px;
    margin-bottom: 70px;
}

.contact-info .heading,
.contact-form .heading {
    text-transform: capitalize;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

#contact-page .form-control::-moz-placeholder {
    color: #8D8D8D;
}

#contact-page .form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #696763;
    height: 46px;
    padding: 6px 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

#contact-page #message {
    height: 160px;
    resize: none;
}

#main-contact-form .btn-primary {
    margin-bottom: 15px;
    margin-top: 20px;
}

#contact-page .form-control:focus,
#contact-page .form-control:hover {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    border-color: #FDB45E;
}

#contact-page .contact-info {
    padding: 0 20px;
}

#contact-page .contact-info address {
    margin-bottom: 40px;
    margin-top: -5px;
}

#contact-page .contact-info p {
    margin-bottom: 0;
    color: #696763;
    font-size: 16px;
    line-height: 25px;
}

.social-networks {
    overflow: hidden;
    text-align: center;
}

.social-networks ul {
    margin-top: -5px;
    padding: 0;
    display: inline-block;
}

.social-networks ul li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
}

.social-networks ul li:last-child {
    margin-right: 0;
}

.social-networks ul li a {
    color: #999;
    font-size: 25px;
}

.contact-info .social-networks ul li a i {
    background: none;
}

.contact-info .social-networks ul li a:hover {
    color: #FE980F;
}

@media (min-width: 576px) and (max-width: 767px) {
    .col-sm-4 {
        max-width: 100%;
        flex: auto;
    }
    .authfy-panel-left,
    .authfy-panel-right {
        float: left;
    }
}

.dust-paarticle {
    position: absolute;
    width: 100%;
}

#snell {
    position: absolute;
    top: 0;
    width: 100%;
}

#eye1 {
    animation: swing ease-in-out 0.6s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    left: calc(52% - 0rem);
}

#eye2 {
    animation: swing ease-in-out 0.5s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
    left: calc(40% - 0rem);
}

#dust-paarticle path {
    transform-box: fill-box;
    transform-origin: center;
}


/*************swing************/

@keyframes swing {
    0% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

.position-set {
    position: absolute;
    top: 5%;
}


/*--------------------*/


/* 02. Common CSS */


/*--------------------*/


/*  */

.btn-primary {
    background-color: #4f77ff;
    border-color: #4f77ff;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #486ff2;
    border-color: #486ff2;
}

.authfy-login .btn.btn-lg {
    border-radius: 3px;
    box-shadow: 0px 2px 3px #9c9c9c;
}

.btn-block {
    width: 75%;
}

.brand-logo {
    margin-top: 0px;
    margin-bottom: 35px;
}


/*--------------------*/


/* 03. Section Panel UI CSS */


/*--------------------*/

.authfy-container {
    margin-top: 97px;
    margin-bottom: 97px;
}

.authfy-panel-left {
    background-color: rgba(12, 14, 33, 0.92);
    color: #ffffff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: 0px 3px 6px #1d2030;
    box-shadow: 0px 3px 6px #1d2030;
}

.authfy-panel-right {
    background-color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0px 2px 6px 0px #1d2030;
    box-shadow: 0px 2px 6px 0px #1d2030;
}

.authfy-login,
.authfy-panel-left .brand-col {
    height: 460px;
}

.authfy-panel-left .brand-col {
    display: table;
    width: 100%;
    padding: 25px;
}

.authfy-panel-left .brand-col .headline {
    display: table-cell;
    vertical-align: middle;
}

.authfy-panel-left .brand-col .headline h1,
.authfy-panel-left .brand-col .headline h2,
.authfy-panel-left .brand-col .headline h3 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.authfy-login {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.authfy-panel {
    padding: 20px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    opacity: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.authfy-panel .authfy-heading {
    margin-bottom: 30px;
}

.authfy-login .auth-title {
    font-weight: 700;
}

.authfy-login .authfy-panel.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.brand-col .social-buttons a {
    color: #ffffff;
    margin-top: 15px;
}

.brand-col .social-buttons a:hover {
    color: white;
    opacity: 0.9;
}

.brand-col .social-buttons .btn-facebook {
    background: #3b5998;
}

.brand-col .social-buttons .btn-twitter {
    background: #00aced;
}

.brand-col .social-buttons .btn-google {
    background: #c32f10;
}

.brand-col .social-buttons a>span {
    padding-left: 5px;
}

.panel-login {
    margin-top: 20px;
}

.panel-login .remember-row {
    margin-bottom: 10px;
}

.panel-login .remember-row label {
    font-weight: normal;
    position: relative;
    cursor: pointer;
    color: #666;
    padding-left: 24px;
}

.authfy-login .forgotPwd {
    text-align: right;
    margin-top: 10px;
}

.panel-login .form-control,
.panel-signup .form-control,
.panel-forgot .form-control {
    background-color: #fff;
    color: #333333;
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
    padding: 12px 22px;
    border-radius: 3px;
    border: solid 1px #bcc2ce;
    outline: none;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.authfy-panel.panel-forgot {
    padding-top: 40px;
}

.panel-login .form-control:focus,
.panel-signup .form-control:focus,
.panel-forgot .form-control:focus {
    border-color: #4f77ff;
    z-index: 2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pwdMask {
    position: relative;
}

.pwdMask .pwd-toggle {
    color: #cccccc;
    position: absolute;
    z-index: 2;
}

.panel-login .pwdMask .pwd-toggle,
.panel-signup .pwdMask .pwd-toggle {
    top: 15px;
    right: 15px;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus {
    cursor: pointer;
}

.pwdMask .pwd-toggle:hover,
.pwdMask .pwd-toggle:focus,
.pwdMask .pwd-toggle.fa-eye {
    color: #4f77ff;
}

.panel-signup .term-policy a {
    text-decoration: underline;
}


/*--------------------*/


/* 04. Check box UI CSS */


/*--------------------*/

.checkbox input[type=checkbox] {
    position: absolute;
    right: 9000px;
}

.checkbox input[type=checkbox]+.label-text:before,
.checkbox input[type=checkbox]+.label-text:after {
    font-size: 11px;
    display: inline-block;
    width: 17px;
    height: 17px;
    padding: 2px;
    margin-left: 0;
    position: absolute;
    top: 2px;
    left: 0;
}

.checkbox input[type=checkbox]+.label-text:before {
    content: "";
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox input[type=checkbox]+.label-text:after {
    background-color: #4f77ff;
    color: #ffffff;
    border-radius: 2px;
    border-color: #4f77ff;
    line-height: 1.4;
}

.checkbox input[type=checkbox] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.checkbox input[type=checkbox]:focus+.label-text:before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type=checkbox]:checked+.label-text:after {
    font-family: "FontAwesome";
    content: "\f00c";
}


/*--------------------*/


/* 05. Responsive CSS */


/*--------------------*/

@media (min-width: 768px) {
    .authfy-panel {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .authfy-panel-left,
    .authfy-panel-right {
        box-shadow: none;
    }
    .authfy-panel-left {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .authfy-panel-right {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .authfy-panel-left .brand-col {
        height: 300px;
        text-align: center;
    }
    .term-policy {
        font-size: 75%;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    body {
        background-size: cover;
    }
    .authfy-login .authfy-panel {
        padding: 20px;
    }
    .panel-login .remember-row {
        margin-bottom: 10px;
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .authfy-login {
        height: 480px;
    }
    .authfy-heading p {
        font-size: 14px;
    }
    .remember-row .col-sm-6 {
        width: 100%;
    }
    .authfy-login .forgotPwd {
        text-align: left;
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }
}

@keyframes spinner {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(359deg);
    }
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login.loading button {
    max-height: 100%;
    padding-top: 50px;
}

.login.loading button .spinner {
    opacity: 1;
    top: 40%;
}

.login.ok button {
    background-color: #8bc34a;
}

.login.ok button .spinner {
    border-radius: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    height: 20px;
    animation: none;
    transform: rotateZ(-45deg);
}

.login input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
}

.login input+i.fa {
    color: #fff;
    font-size: 1em;
    position: absolute;
    margin-top: -47px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in;
}

.login input:focus {
    outline: none;
    color: #444;
    border-color: #2196F3;
    border-left-width: 35px;
}

.login input:focus+i.fa {
    opacity: 1;
    left: 30px;
    transition: all 0.25s ease-out;
}

.login .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.login button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: #2196F3;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);
    transition: all 0.1s ease-out;
    border-bottom-width: 7px;
}

.login button .spinner {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    border: 4px solid #ffffff;
    border-top-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    left: 50%;
    top: 0;
    opacity: 0;
    margin-left: -20px;
    margin-top: -20px;
    animation: spinner 0.6s infinite linear;
    transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.login:not(.loading) button:hover {
    box-shadow: 0px 1px 3px #2196F3;
}

.login:not(.loading) button:focus {
    border-bottom-width: 4px;
}

footer {
    display: block;
    padding-top: 50px;
    text-align: center;
    color: #ddd;
    font-weight: normal;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
}

footer a,
footer a:link {
    color: #fff;
    text-decoration: none;
}


/*# sourceMappingURL=app.css.map */