<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-left">
          <a href="" class="footer-logo"> QuizTest </a>
          <p class="footer-p">© 2022 QuizTest Inc.</p>
          <p>
            Follow us <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="footer-center-list">
          <li class="footer-center-item">
            <a href="#">QuizTest blog</a>
          </li>
          <li class="footer-center-item">
            <a href="#">Trợ giúp</a>
          </li>
          <li class="footer-center-item">
            <a href="#">Giới thiệu</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer-right">
          <span>Download QuizTest mobile apps</span><br />
          <a href="#" class="footer-link-img">
            <img
              src="https://cf.quizizz.com/img/landing/apple%20app%20store.png"
              alt=""
            />
          </a>
          <a href="#" class="footer-link-img">
            <img
              src="https://cf.quizizz.com/img/landing/google%20play.png"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
