<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
                <a href="#" class="header-logo"> QuizTest </a>
            </div>
            <nav class="col-xl-7">
                <ul class="nav header-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#/!">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!quiz">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!about">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!call">Liên hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="col-xl-3 col-md-6 col-xs-12">
                <div class="header-account">
                    <a href="#" class="btn fw-bolder">Đăng nhập</a>
                    <a href="#" class="btn bg-warning fw-bolder">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</header>