<header class="header">
  <div class="container">
    <div class="row">
      <div
        class="col-xl-2 col-md-6 col-xs-12 d-flex justify-content-center align-items-center"
      >
        <a href="#" class="header-logo"
          >QuizTest <i class="fa-solid fa-infinity"></i
        ></a>
      </div>
      <nav class="col-xl-7">
        <ul class="nav header-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#/!">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!quiz">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!about">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!call">Liên hệ</a>
          </li>
        </ul>
      </nav>
      <div class="col-xl-3 col-md-6 col-xs-12">
        <div class="header-account" ng-if="checkLogin.check == true">
          <span>{{checkLogin.name}}</span>
          <a href="" ng-click="logout()">Đăng xuất</a>
        </div>
        <div class="header-account" ng-if="checkLogin.check == false">
          <a href="#!login" class="btn fw-bolder">Đăng Nhập</a>
          <a href="#!registration" class="btn bg-warning fw-bolder">Đăng ký</a>
        </div>
        <!-- Modal -->
        <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Log in</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form action="">
                                            <div class="form-group mb-3">
                                                <label for="">Username</label>
                                                <input class="form-control mb-3" type="text">
                                                <label for="">Password</label>
                                                <input class="form-control mb-3" type="text">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Remember password
                                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!ForgotPass" class="btn ">Forgot Password</a>
                                    <button type="button" class="btn banner-btn-one" data-bs-dismiss="modal">cancel</button>
                                    <button type="button" class="btn banner-btn-one">Log in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>
  </div>
</header>

<!-- <script>
  let app1 = angular.module("myApp", []);
  app1.controller("headerController", function ($scope) {
    $scope.logout = function () {
      console.log("logout");
      // sessionStorage.removeItem('login');

      // window.location.href = "/";
    };
  });
</script> -->
