<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-md-6 col-xs-12 d-flex justify-content-center align-items-center">
                <a href="#" class="header-logo"> QuizTest </a>
            </div>
            <nav class="col-xl-7">
                <ul class="nav header-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#/!">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!quiz">Quiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!about">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#!call">Liên hệ</a>
                    </li>
                </ul>
            </nav>
            <div class="col-xl-3 col-md-6 col-xs-12">
                <div class="header-account">
                    <button type="button" class="btn fw-bolder" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Đăng nhập
                    </button>
                    <a href="#" class="btn bg-warning fw-bolder">Đăng ký</a>
                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Đăng Nhập</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <form action="">
                                                            <div class="form-group mb-3">
                                                                <label for="">Tên đăng nhập</label>
                                                                <input class="form-control mb-3" type="text">
                                                                <label for="">Mật khẩu</label>
                                                                <input class="form-control mb-3" type="text">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">
                                                      Quên mật khẩu
                                                    </label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn" data-bs-dismiss="modal">Hủy</button>
                                                    <button type="button" class="btn banner-btn-one">Đăng nhập</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
        </div>
    </div>
</header>