<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:;" class="simple-text"> QuizTest </a>
    </div>
    <ul class="nav">
      <li class="nav-item active">
        <a class="nav-link" href="dashboard.html">
          <i class="nc-icon nc-icon nc-paper-2"></i>
          <p>Quản trị thành viên</p>
        </a>
      </li>
      <li>
        <a class="nav-link" href="./user.html">
          <i class="nc-icon nc-bell-55"></i>
          <p>Quản trị quiz</p>
        </a>
      </li>
    </ul>
  </div>
</div>
