<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-12 col-12">
        <div class="banner-left">
          <h1 class="banner-heading">QuizTest nền tảng làm quiz 100% online</h1>
          <p class="banner-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            debitis placeat ea sed, ipsam, sequi nulla dicta commodi, numquam
            quam consectetur eius et dolorum soluta aut? Necessitatibus minus et
            distinctio?
          </p>
          <div class="banner-btn">
            <a href="#!/registration" class="btn btn-lg banner-btn-one"
              >Đăng ký miễn phí</a
            >
            <a href="#" class="btn btn-lg banner-btn-two">Tìm hiểu thêm</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 col-12">
        <img
          src="https://cf.quizizz.com/img/mkt/1-HERO-Digital_Collage.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<!-- Bài quiz test -->
<section class="quizTest mb-3">
  <div class="container">
    <h2 class="quizTest-heading mb-4">Bài quiz thông dụng</h2>
    <div class="row">
      <div class="col-xl-3 col-md-6 col-xs-12 mb-2" ng-repeat="val in dataHome">
        <div class="card">
          <img src="../images/logos/{{val.img}}" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title">{{val.name}}</h5>
            <p class="card-text">{{val.description}}</p>
            <a href="#!/quiz/{{val.id}}" class="btn banner-btn-one">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Danh mục bài quiz -->
<section class="category quizTest">
  <div class="container">
    <h2 class="quizTest-heading mb-4">Danh mục bài quiz</h2>
    <div class="row">
      <div
        class="col-xl-3 col-md-6 col-xs-12 mb-2"
        ng-repeat="x in dataSubjects"
      >
        <div class="card">
          <img src="{{x.Logo}}" class="card-img-top" alt="" />
          <div class="card-body">
            <h5 class="card-title">{{x.Name}}</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn banner-btn-one">Xem thêm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- get started -->

<section class="getStarted m-3">
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-xl-4 p-0 getStarted-img">
        <img
          src="https://cf.quizizz.com/img/mkt/7-CTA_SECTION-Left.png"
          alt=""
        />
      </div>
      <div class="col-xl-4">
        <div class="getStarted-content">
          <h2 class="getStarted-heading">Bạn đã sẳn sàng chưa?</h2>
          <a href="#" class="btn btn-lg banner-btn-one">Bắt đầu nào >></a>
        </div>
      </div>
      <div class="col-xl-4 p-0 d-flex justify-content-end getStarted-img">
        <img
          src="https://cf.quizizz.com/img/mkt/7-CTA_SECTION-Right.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
