<style>
    .text-superH {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
</style>
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-8">
            <!-- Bài quiz test -->
            <section class="quizTest mb-3">
                <div class="row">

                    <div class="col-xl-4 col-md-6 col-xs-12 mb-2" ng-repeat="valQz in dataQz">
                        <div class="card">
                            <img src="../images/logos/{{valQz.img}}" class="card-img-top " alt=" " />
                            <div class="card-body ">
                                <h5 class="card-title ">{{valQz.name}}</h5>
                                <p class="card-text text-superH">
                                    {{valQz.description}}
                                </p>
                                <a href="#!/quiz/{{valQz.id}}" class="btn banner-btn-one ">Xem thêm</a>
                            </div>
                        </div>
                    </div>

                </div>

                <nav aria-label="Page navigation example ">
                    <ul class="pagination ">
                        <li class="page-item ">
                            <a class="page-link " href="# ">Previous</a>
                        </li>
                        <li class="page-item " ng-repeat="page in dataQzTX">
                            <a class="page-link " href="# "></a>
                        </li>
                        <li class="page-item "><a class="page-link " href="# ">Next</a></li>
                    </ul>
                </nav>
            </section>
        </div>
        <div class="col-xl-4 ">
            <div class="card ">
                <div class="card-header banner-btn-one text-center ">
                    <h3>Danh mục bài quiz</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item " ng-repeat="valSj in dataSj">
                        <a ng-click="search(valSj.id)" style="color: black ; cursor: pointer;"><b>{{valSj.Name}}</b></a>
                    </li>
                    <li class="list-group-item ">
                        <a ng-click="search()" style="color: black ; cursor: pointer;"><b>Tất cả</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>